
body {
  background-image: url("./images/1b456377a9dce67a7dc3630260aa7572.gif");
  background-repeat: no-repeat;
  height: 110vh;
  width: 100vw;
  flex-direction: row;
}

header {
  background-image: url('./images/download\ \(1\).jpeg');
  background-position: center;
  background-size: cover;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  display: flex;
  height: 20vh;
  width: 100vw;
  position: fixed;
}

header > h4 {
  justify-content: center;
  width: 50vw;
  display: flex;
  color: white;
}

header > nav { 
  justify-content: space-around;
  width: 50vw;
  display: flex;
}

nav > li {
  list-style: none;
}

nav > li > a:link {
  color: white;
}

nav > li > a:visited {
  color: white;

}

.Welcome {
  padding-top: 20vh;
  width: 100vw;
  height: 85vh;
  text-align: center;
  color: hotpink;
  text-shadow: 2px 2px black;
  padding-bottom: 2.5vh;
}

.Welcome > p {
  padding-left: 12.5vw;
  width: 75vw;
  padding-right: 12.5vw;
  
}

.Welcome > img {
  width: 50vw;
  height: 50vh;
  padding-left: 25vw;
  padding-right: 25vw;
}

.Welcome > p > a:visited {
  color:hotpink;
}

.Welcome> p > a:link {
  color: white;
}

@media only screen and (max-width: 600px) {
  header > nav {
    flex-wrap: wrap;
  }
  .Welcome > img {
    height: 30vh;
  }
  .Welcome > p {
    padding-left: 5vw;
    width: 85vw;
    font-size: small;
  }
}

.projects {
  padding-top: 20vh;
  height: 320vh;
  background-image: url("./images/wp2736652.gif");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  text-align: center;
  color: hotpink;
  text-shadow: 2px 2px black;
  width: 100vw;
}

.projects > .project1 {
  height: 100vh;
  width: 100vw;
}

.projects > .project1 > p {
  padding-left: 12.5vw;
  width: 75vw;
}

.projects > .project1 > p > a:link {
  color: white;
}

.projects > .project1 > p > a:visited {
  color: white;
}

.projects > .project1 > img {
  height: 70vh;
  width: 50vw;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-bottom: 2.5vh;
}

.projects > .project2 {
  height: 100vh;
  width: 100vw;
}

.projects > .project2 > p {
  padding-left: 12.5vw;
  padding-right: 12.5vw;
  width: 75vw;
}

.projects > .project2 > p > a:link {
  color: white;
}

.projects > .project2 > p > a:visited {
  color: white;
}

.projects > .project2 > img {
  height: 70vh;
  width: 50vw;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-bottom: 2.5vh;
}

.projects > .project3 {
  height: 100vh;
  width: 100vw;
}

.projects > .project3 > p {
  padding-left: 12.5vw;
  padding-right: 12.5vw;
  width: 75vw;
}

.projects > .project3 > p > a:link {
  color: white;
}

.projects > .project3 > p > a:visited {
  color: white;
}

#slideshow > img {
  height: 40vh;
  width: 75vw;
  padding-left: 12.5vw;
  padding-right: 12.5vw;
}

@media only screen and (max-width: 360px) and (max-height: 640px) {
  .projects {
    height: 500vh;
  }

  .projects > .project1{
    height: 135vh;
  }

  .projects > .project1 > img {
    padding-left: 10vw;
    width: 80vw;
    padding-right: 10vw;
  }

  .projects > .project2 {
    height: 135vh;
  }

  .projects > .project2 > img {
    padding-left: 12.5vw;
    width: 75vw;
    padding-right: 12.5vw;

  }

  .projects > .project3 {
    height: 135vh;
  }

  .projects > .project3 > #slideshow > img {
    padding-left: 12.5vw;
    width: 75vw;
    padding-right: 12.5vw;

  }


}

@media only screen and (min-width: 768px) {

  .projects {
    height: 330vh;
  }

  .projects > .project3 > #slideshow > img {
    padding-left: 12.5vw;
    width: 75vw;
    padding-right: 12.5vw;

  }

  .projects > .project1{
    height: 100vh;
  }

  .projects > .project1 > img {
    padding-left: 10vw;
    width: 80vw;
    padding-right: 10vw;
  }

  .projects > .project2 {
    height: 100vh;
  }

  .projects > .project2 > img {
    padding-left: 12.5vw;
    width: 75vw;
    padding-right: 12.5vw;

  }

  .projects > .project3 {
    height: 100vh;
  }

}